<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">        
        <title>Cart</title>
        <style>
            .dish{
                display: flex;
                flex-direction: row;
            }
            input{
                margin: 5px;
            }
        </style>
    </head>
  
    <body>
        <div style="text-align: right;">
        <h3>{{total}}</h3>
            <a href="{% url 'menu' %}">Back to Menu</a>        
        </div>
        <ul id="regular_pizza">
            <h5>Regular Pizza</h5>
            {% for pizza in regular_pizza %}        
            <div class="dish">
                <li>
                    {{pizza.dish}} - {{pizza.quantity}} - {{pizza.size}}      - {{pizza.dish.pizza_type}}  
                </li>            
                <form action="{% url 'remove' pizza.dish.pizza_type pizza.pk %}" method="POST">     
                    {% csrf_token %}                                
                    <input type="submit" value="Remove">
                </form>
            </div>
        {% endfor %}
        </ul>

        <ul id="sicilian_pizza">
            <h5>Sicilian Pizza</h5>
            {% for pizza in sicilian_pizza %}
            <div class="dish">
                <li>
                    {{pizza.dish}} - {{pizza.quantity}} - {{pizza.size}}                                
                </li>                
                <form action="{% url 'remove' pizza.dish.pizza_type pizza.pk %}" method="POST">     
                    {% csrf_token %}                                
                    <input type="submit" value="Remove">
                </form>
            </div>
            {% endfor %}
        </ul>

        <ul id="toppings">
            <h5>Toppings</h5>
            {% for topping in toppings %}
                <div class="dish">
                    <li>                     
                        {{topping.dish}} - {{topping.quantity}}                    
                    </li>                
                    <form action="{% url 'remove' topping.dish.pizza_type topping.pk %}" method="POST">     
                        {% csrf_token %}                                
                        <input type="submit" value="Remove">
                    </form>
              
                </div>
            {% endfor %}
        </ul>

        <ul id="subs">
            <h5>Subs</h5>
            {% for sub in subs %}          
                <div class="dish">
                    <li>
                        {{sub.dish}} - {{sub.quantity}} - {{sub.size}}                             
                    </li>                
                    <form action="{% url 'remove' sub.dish.pizza_type sub.pk %}" method="POST">     
                        {% csrf_token %}                                
                        <input type="submit" value="Remove">
                    </form>
                </div>
            {% endfor %}
        </ul>    

   

        <ul id="pasta">
            <h5>Pasta</h5>
            {% for pas in pasta %}            
                <div class="dish">
                    <li>
                        {{pas.dish}} - {{pas.quantity}}      
                    </li>                
                    <form action="{% url 'remove' pas.dish.pizza_type pas.pk %}" method="POST">     
                        {% csrf_token %}                                
                        <input type="submit" value="Remove">
                    </form>
                </div>
            {% endfor %}
        </ul>

        <ul id="salads">
            <h5>Salads</h5>
            {% for salad in salads %}
             
                <div class="dish">
                    <li>
                        {{salad.dish}} - {{salad.quantity}}          
                    </li>                
                    <form action="{% url 'remove' salad.dish.pizza_type salad.pk %}" method="POST">     
                        {% csrf_token %}                                
                        <input type="submit" value="Remove">
                    </form>
                </div>
            {% endfor %}            
        </ul>
        
        <ul id="dinner_platters">
            <h5>Dinner Platters</h5>
            {% for dinner_platter in dinner_platters %}
                <div class="dish">
                    <li>
                        {{dinner_platter.dish}} - {{dinner_platter.quantity}} - {{dinner_platter.size}}                     
                    </li>                
                    <form action="{% url 'remove' dinner_platter.dish.pizza_type dinner_platter.pk %}" method="POST">     
                        {% csrf_token %}                                
                        <input type="submit" value="Remove">
                    </form>
                </div>
            {% endfor %}
        </ul>          

      
        <a href="{% url 'payment' %}" onclick="return confirm('Confirm');">Order</a>
    </body>
</html> 