<!DOCTYPE html>
<html>
    <head>
        <!-- {% load static %}
        <script src="{% static 'pizzas/menu.js' %}"></script>    -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        
        <title>Pizza Menu</title>
        <style>
            .dish{
                display: flex;
                flex-direction: row;
            }
        </style>
    </head>
  
    <body>
        
        <a href="{% url 'logout' %}">Logout</a>
        
        {% csrf_token %}        
        <ul id="regular_pizza">
        {% for pizza in regular_pizza %}
            <div class="dish">
                <li>
                    {{pizza.name}} - {{pizza.small_price}} - {{pizza.large_price}}
                </li>
                <select name="selection" id="selection" class="selection">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <button class="order">Order</button>
            </div>
        {% endfor %}
        </ul>

        <ul id="sicilian_pizza">
            {% for pizza in sicilian_pizza %}
                <li>
                    {{pizza.name}} - {{pizza.small_price}} - {{pizza.large_price}}
                </li>
            {% endfor %}
        </ul>

        <ul id="toppings">
            {% for topping in toppings %}
                <li>
                    {{topping.name}}
                </li>
            {% endfor %}
        </ul>

        <ul id="subs">
            {% for sub in subs %}
                <li>
                    {{sub.name}} - {{sub.small_price}} - {{sub.large_price}}
                </li>
            {% endfor %}
        </ul>    

        <ul id="pasta">
            {% for pas in pasta %}
                <li>
                    {{pas.name}} - {{pas.price}}
                </li>
            {% endfor %}
        </ul>

        <ul id="salads">
            {% for salad in salads %}
                <li>
                    {{salad.name}} - {{salad.price}}
                </li>
            {% endfor %}            
        </ul>
        
        <ul id="dinner_platters">
            {% for dinner_platter in dinner_platters %}
                <li>
                    {{dinner_platter.name}} - {{dinner_platter.small_price}} - {{dinner_platter.large_price}}
                </li>
            {% endfor %}
        </ul>          
      
    </body>
</html>